.result{
	position: fixed;
	top: 150px;
	bottom: 0;
	right: 0;
	width: calc(100% - 320px);
	height: 100%;
	background: $black;
	transition: 250ms linear;
	visibility: hidden;

	&__title{
		font-size: 36px;
		letter-spacing: 2px;
		margin-bottom: 23px;
		padding-bottom: 20px;
		border-bottom: 1px solid $white;
		text-transform: capitalize;
	}

	&__content{
		padding: 0 20px;

		.about-pokemon{
			display: table;
			width: 100%;
			@extend %normal;

			&__item{
				margin-bottom: 24px;
				font-size: 18px;

				&--label{
					color: $gray;
					
					&:after{
						content: ": ";
					}
				}

				&--value{
					font-size: 17px;
					color: $white;
				}
			}
		}
	}
}

.searchResultActived{
	.result{
		visibility: visible;
	}
}