.header{
	padding: 25px 0;

	&__container{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}


	&__title{
		text-align: center;
		text-transform: uppercase;
		font-size: 40px;
	}

	&__logo{
		background: url('../images/pokemon_logo.png') no-repeat;
		width: 250px;
		height: 255px;
		background-size: contain;
	}

	&__text{
		text-align: center;

		.total-group{
			color: $gray-dark;
		}
	}

	&__search{
		width: calc(100% - 300px)
	}
}